body {
  background-color: lightgray;
}
#main { 
  background-color: #eee;
  margin: 10px 0; 
  font-family: sans-serif; 
  font-weight: 300; 
  text-align: left; 
  box-sizing: border-box;
  color:black;
  padding: 10px;
  text-wrap: wrap;
  text-align: center;
}

.img-caption {
  margin: 10px 0 5px 0;
  padding: 10px;
}

#title {
  color: blue;
  font-family: sans-serif; 
  font-weight: 1000; 
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #FBB917;
  padding: 5px;
}

img {
  max-width: 60%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: #FBB917;
  padding: 5px;
  margin:0;
}

#quote {
  margin:30px;
  padding: 10px;
  color: black;
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

.footer {
  margin: 10px;
  background-color: green;
  padding: 10px;
  color: black;
  text-align: center;
  text-wrap: wrap;
}

ul {
  max-width: 700px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

a {
  color: blue; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}